aaa new-model
!
!
aaa authentication login default group tacacs+ local
aaa authentication enable default group tacacs+ enable
aaa authorization exec default local group tacacs+ if-authenticated
aaa authorization commands 0 default local group tacacs+
aaa authorization commands 1 default local group tacacs+
aaa authorization commands 15 default local group tacacs+
aaa accounting exec default start-stop group tacacs+
aaa accounting commands 1 default start-stop group tacacs+
aaa accounting commands 15 default start-stop group tacacs+
aaa accounting network default start-stop group tacacs+
aaa accounting connection default start-stop group tacacs+
aaa accounting system default start-stop group tacacs+
!
tacacs-server directed-request
tacacs-server key 7 {{tacacs_key}}

tacacs-server host {{tacacs_srvr_1}} key {{tacacs_key}}
tacacs-server host {{tacacs_srvr_2}} key {{tacacs_key}}
tacacs-server host {{tacacs_srvr_3}} key {{tacacs_key}}
tacacs-server host {{tacacs_srvr_4}} key {{tacacs_key}}