
snmp-server community {{ snmp_ro }} RO 91
snmp-server trap-source {{ snmp_src_intf }}
snmp-server location {{ snmp_location }}
snmp-server contact IT-Network
snmp-server trap link switchover
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps power-ethernet police
snmp-server host {{ snmp_server }} {{ snmp_server_pwd }}
!
access-list 91 remark Cacti
access-list 91 permit 10.15.10.11
access-list 91 remark servicenow MID serverDAL20midsrvt01
access-list 91 permit 10.120.10.96
access-list 91 remark servicenow MID server dal20midserver01
access-list 91 permit 10.120.10.97
access-list 91 remark Solarwinds NPM Poller
access-list 91 permit 10.15.10.17
access-list 91 remark Solarwinds NCM
access-list 91 permit 10.15.10.16
access-list 91 remark servicenow MID serverdal20midserver3
access-list 91 permit 10.120.10.95
access-list 91 permit 10.15.10.48
access-list 91 remark SJC4SWPOLLWP02
access-list 91 permit 10.15.10.71
access-list 91 remark SJC4SWPOLLWP01
access-list 91 permit 10.15.10.70
access-list 91 remark DAL20SWPOLLWP01
access-list 91 permit 10.120.10.54
access-list 91 remark DAL20SWPOLLWP02
access-list 91 permit 10.120.10.55
access-list 91 remark Sin20litsrtp01
access-list 91 permit 10.165.208.32
access-list 91 remark Nexus-IS Mgmt host
access-list 91 permit 10.15.226.132
access-list 91 remark servicenow MID server sjc4midserver07
access-list 91 permit 10.15.11.96
access-list 91 remark servicenow MID server sjc4midcd02-SubProd
access-list 91 permit 10.15.10.126
access-list 91 remark servicenow MID server sjc4middcd01
access-list 91 permit 10.15.10.125
access-list 91 permit 10.120.208.33
access-list 91 remark servicenow MID serverams20midserver2
access-list 91 permit 10.195.10.95
access-list 91 remark AMS20SWPOLLWP02
access-list 91 permit 10.195.10.98
access-list 91 remark AMS20SWPOLLWP01
access-list 91 permit 10.195.10.97
access-list 91 remark servicenow MID serverAMS20midsrvt01
access-list 91 permit 10.195.10.96
access-list 91 permit 10.15.11.182
access-list 91 remark servicenow MID server sin20midserver1
access-list 91 permit 10.165.10.30
access-list 91 remark servicenow MID serversjc4midsrvt01
access-list 91 permit 10.15.10.193
access-list 91 remark servicenow MID serversjc4midserver17
access-list 91 permit 10.15.10.192
access-list 91 remark servicenow MID server sjc4midserver15
access-list 91 permit 10.15.10.213
access-list 91 remark servicenow MID server ams20midserver1
access-list 91 permit 10.195.10.29
access-list 91 remark USSOLARP02
access-list 91 permit 10.227.2.15
access-list 91 remark USSOLARP01
access-list 91 permit 10.227.2.14
access-list 91 remark servicenow MID serversin20midsrvt01
access-list 91 permit 10.165.10.77
access-list 91 remark servicenow MID serversin20midserver2
access-list 91 permit 10.165.10.76
access-list 91 remark servicenow MID server sjc4prime01
access-list 91 permit 10.15.242.24
access-list 91 remark Sjc4ITSRTP01
access-list 91 permit 10.227.2.31
access-list 91 deny   any log